body {
    font-family: 'Gamja Flower', cursive;
    background-image: url("../images/congruent_pentagon.png");
}

.border {
    border: 5px solid #dee2e6!important;
}

.rounded {
    border-radius: 2rem!important;
}

#mainWindow {
    background-color: rgba(255,255,255,0.85);
}

#scoop5 {
    height: 15%;
    width: 15%;
    margin-bottom: -4%;
    z-index: 5;
}

#scoop4 {
    height: 30%;
    width: 30%;
    margin-bottom: -5%;
    z-index: 4;
}

#scoop3 {
    height: 30%;
    width: 30%;
    margin-bottom: -5%;
    z-index: 3;
}

#scoop2 {
    height: 30%;
    width: 30%;
    margin-bottom: -5%;
    z-index: 2;
}

#scoop1 {
    height: 30%;
    width: 30%;
    margin-bottom: -2%;
    z-index: 1;
}

#scoop0 {
    height: 25%;
    width: 25%;
}

#gameStatsCol {
    font-size: 1.5rem;
}

#buttonShow, #credits {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

a:link, a:visited {
    color: #000000;
}